.container {
    display: flex;
    flex: row;

    .mainpage {
        padding: 0 64px;
        padding-top: 48px;
        background-color: #fff;
        width: 100%;
      
        .header {
            margin-bottom: 32px;
        }
        .searchBox {
            position: absolute;
            top: 64px;
            right: 032px
        }
    }

    .time {
        display: flex;
        align-items: center;
        p {
            margin-left: 8px;
            color: #5F75EE;
            max-width: 100px;
        }
    }
}