@import '../../styles/color.scss' ;

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.wrapper {
    display: flex;
    .rightside {
        position: relative;
        width: 50%;
        height: 100vh;
        padding: 64px;
        background-color: $--color-neutral-01;
        h2 {
            margin-bottom: 64px;
        }
        .row {
            margin-top: 32px;
            display: flex;
            flex-direction: column;
            label {
                font-weight: 500;
                font-size: 20px;
            }
            input {
                padding-left: 20px;
                margin-top: 16px;
                height: 40px;
                width: 400px;
                border-radius: 8px;
                border: 1px solid $--color-neutral-04;
                outline: none;
                font-size: 14px;
            }
        }
        .signinBtn {
            margin-top: 64px;
            margin-bottom: 16px;
        }
        strong {
            cursor: pointer;
        }
    }
    
    .leftside {
        position: relative;
        width: 50%;
        height: 100vh;
    }
}

.heroImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}