@import '../../styles/color.scss' ;

.container {
    width: 372px;
    .card {
        height: 372px;
        background-color: #EBE3D9;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        .label {
            position: absolute;
            top: 16px;
            right: 16px;
            background-color: $--color-orange;
            padding: 4px 12px ;
            border-radius: 6px;
            p {
                color: $--color-neutral-01;
            }
        }
        &:hover {
            .overlay {
                visibility: visible;
            }
        }
       .overlay {
        visibility: hidden;
       
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba($color: #22252d, $alpha: 0.9);
        .likeButton {
            position: absolute;
            top: 20px;
            left: 20px;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $--color-neutral-01;
            border-radius: 50%;
            line-height: 0;
            cursor: pointer;
            &:hover {
                img {
                    filter: invert(54%) sepia(75%) saturate(3416%) hue-rotate(339deg) brightness(93%) contrast(92%);
                }
            }
        }
        .centerBtn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            .detail {
                &:hover {
                    background-color: $--color-neutral-01;
                   span {
                    color: $--color-neutral-08;
                   }
                }
                span {
                    color: $--color-neutral-01;
                }
            }
        }
       }
    }
    
    
    .information {
        margin-top: 16px;
        .line {
            display: flex;
            margin-top: 4px;
            justify-content: space-between;
            align-items: center;
            .id {
                background-color: #9F73E625;
                padding: 3px 6px;
                border-radius: 6px;
            }
            p {
                text-transform: capitalize;
            }
            .coinPrice {
                border: 2px solid #30B28C25;
                padding: 2px 8px;
                border-radius: 8px;
                font-weight: bold;
                color: $--color-green;
            }
        }
    }
}