@import "../../../styles/color.scss";

.heroWrapper {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    margin: auto;

    .title {
        span {
            color: $--color-pupple;
        }
    }

    h6 {
        color: $--color-neutral-06;
        margin-top: 20px;
    }
}


.container {
    position: relative;
    padding: 0px 128px 125px;
}

.button {
    margin-top: 40px;
}

.card {
    display: flex;

    .content {
        margin-left: 20px;

        p {
            color: $--color-neutral-05;
        }
    }
}

.contentWrapper {
    display: flex;
    margin-top: 60px;

    .cardWrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        &:not(:first-child) {
            border-left: 2px solid $--color-neutral-04;
        }

        .card {
            display: flex;

            .imgWrapper {
                border-radius: 50%;
                width: 64px;
                height: 64px;
                overflow: hidden;
            }
        }
    }

}