$--color-orange: #E45F35 ;
$--color-green: #30B28C ;
$--color-yellow: #FDC24F ;
$--color-blue: #1F3D8B ;
$--color-pupple: #9F73E6 ;
$--color-neutral-01 : #FFFFFF;
$--color-neutral-02 : #FCFCF9;
$--color-neutral-03 : #F7F7F0;
$--color-neutral-04 : #E7E7E1;
$--color-neutral-05 : #7F8596;
$--color-neutral-06 : #494E5B;
$--color-neutral-07 : #31343F;
$--color-neutral-08 : #22252D;
$--color-neutral-09 : #1F2128;

$--color-primary : #9F73E6;
// text
$--color-text-light : #808191 ;
$--color-text-white : #ffffff;
